* {
    box-sizing: border-box;

}

body { 
	max-width: 960px ; 
	margin: 0 auto !important; 
	float: none !important; 
}

p {
	color: white;
	font-size: 20px;

}

div {
	border: 1px solid;
	height: auto;
	/* line-height:normal; */
}


