    @media (min-width: 480px){ 
        .container {
            border: 2px solid;
        }
        .container {
            height: 100%;
            line-height:700% ;
            text-align: center;
            display: grid;
            grid-template-areas: 'windowContentHolder';
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "box1 box1 "
            "box2 box2"
            "box3 box3"
            "box4 box4"
            "box5 box6"
            "box7 box8 "
            "box9 box9"
    ;
        }
    
        .box1{grid-area: box1;}
        .box2{grid-area: box2;}
        .box3{grid-area: box3;}
        .box4{grid-area: box4;}
        .box5{grid-area: box5;}
        .box6{grid-area: box6;}
        .box7{grid-area: box7;}
        .box8{grid-area: box8;}
        .box9{grid-area: box9;}



    }


@media (min-width: 768px) { 

    .container {
        border: 2px solid;
    }

    .container {
        line-height:550% ;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 2.5fr 1.5fr ;
        grid-template-areas: 
        "box1 box1 box1 box1 box1 "
        "box2 box3 box3 box4 box4"
        "box2 box5 box6 box7 box8"
        "box2 box9 box9 box9 box9"
;
    }

    .box1{grid-area: box1;
    }
    .box2{grid-area: box2;}
    .box3{grid-area: box3;}
    .box4{grid-area: box4;}
    .box5{grid-area: box5;}
    .box6{grid-area: box6;}
    .box7{grid-area: box7;}
    .box8{grid-area: box8;}
    .box9{grid-area: box9;}

    }
    
