    @media (min-width: 767px) { 

        div{
            background-color: rgb(85, 145, 145);
        
        }
        .container {
            width: 490px;
        }
        .A {
            width: 480px;
            height: 75px;
            /* display: block; */
        }
    
        .B {
            width: 480px;
            height: 150px;
            /* display: block; */
        }
    
        .CD {
            width: 480px;
            height: 125px;
            /* float: left;
            display: inline; */
        }
    
        .EF {
            width: 240px;
            height: 250px;
            float: left;
        }

        .GH {
            width: 240px;
            height: 250px;
            float: left;
        }
    
        .I {
            width: 480px;
            height: 80px;
            clear: both !important;
        }
    
    }

@media (min-width: 1125px) and (max-width: 2149px) { 


    div{
        background-color: rgb(0, 100, 100);
    }

    .container {
        width: 960px;
    }

    .A {
        width: 960px;
        height: 100px;
        margin: 0;
        /* display: block; */
        
        
    }
    .B {
        width: 200px;
        height: 600px;
        float: left;
    }
    .CD {
        width: 380px;
        height: 200px;
        float: left;
        display: inline;
    }
    
    .EFGH {
        width: 190px;
        height: 250px;
        float: left;
        display: inline;
    }
    .I {
        width: 760px;
        height: 150px;
        float: left;
        clear: none !important;
        margin-left: 0;
    }

    /* .section {
        display: block;
    } */
    }
    
